*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'roboto';
}
body{
    padding: 0%;
    margin: 0%;
    background-color: #F7F7F7;
}
p{
    margin: 0%;
}
hr{
    margin: 20px 0;
}

.best-seller-product button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFF;
    color: rgb(255, 0, 0);

    border-radius: 100%;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    transition: all .2s ease, opacity .3s ease;
    cursor: pointer;

    transform-origin: center;
}
.new-product button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFF;
    color: rgb(255, 0, 0);
    border-radius: 100%;
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    transition: all .2s ease, opacity .3s ease;
    cursor: pointer;

    transform-origin: center;
}
.dl{
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
}
.dl:hover .prev,
.dl:hover .next{
    opacity: 1;
    border: none;
    transition: all .2s ease, opacity .3s ease;
}
    

.prev, .prev2 {
    left: 10px;
    opacity: 0;
}

.next, .next2 {
    right: 10px;
    opacity: 0;
}
.homepage{
    width: 1380px;
    margin: auto;
}
.homepage__slider img{
    width: 100%;
}
.homepage__best-seller, .homepage__new, .homepage__news-and-review{
    margin-top: 44px;
    
}
.best-seller-product, .new-product {
    width: 100%; /* Занимает 100% ширины родительского контейнера */
    max-width: 1380px; /* Максимальная ширина остается прежней */
    background: #fff;
    padding: 25px 10px 25px 25px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 5);
    overflow: hidden; /* Скрываем все, что выходит за пределы контейнера */
    box-sizing: border-box; /* Учитываем отступы и границы в общей ширине */
    flex-wrap: nowrap;
}
.best-seller-product button, .new-product button{
    border: none;
}
.best-seller-tittle, .new-tittle,.news-and-review{
    font-size: 24px;
    font-weight: 900;
}
.best-seller-product__card, .new-product__card{
    width: 100%;
    gap: 35px;
    display: flex;
    transition: transform 0.5s ease;
    flex-wrap: nowrap;
}

.product-card{
    min-width: 310px;
    max-width: 310px;
    height: 365px;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    box-sizing: border-box;
}
.product-card button{
    border: solid 1px #000;
}

.card-img{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
}
.card-img img{
    width: 160px;
    height: 160px;
}
a img{
    width: 160px;
    height: 160px;
}
.card-txt{
    width: 100%;
    height: 102px;
    margin-top: 12px;
}
.card-grade{
    padding: 5px;
    border: solid #000 1px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.card-down{
    display: flex;
    margin-top: 10px;
    gap: 4px;
    position: relative;
}
.card-price{
    padding: 10px 5px ;
    border: solid #000 1px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
    flex-grow: 1;
}

.card-button-buy {
    border: solid #000 1px;
    border-radius: 8px;
    width: 39px;
    height: 39px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px !important;
    position: relative !important; 
    padding: 0 !important;

}
.card-button-favourite{
    border: solid #000 1px;
    border-radius: 8px !important;
    width: 39px;
    height: 39px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative !important; 
    padding: 0 !important;
}
.news-and-review__product{
    gap: 29px;
    display: flex;
    justify-content: center;
}
.news-product{
    width: 222px;
    height: 335px;
}
.news-product__img{
    position: absolute;
    top: -1px;
    clip-path: circle(67.6% at 50% 20%);
}
.news-product__img-2{
    position: absolute;
    top: -1px;
    clip-path: polygon(0 0%, 100% 0, 100% 64%, 59% 93%, 0 63%);
}
.block{
    width: 100%;
    height: 335px;
    background-color: #94B8F1;
    padding-top: 147px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.block-txt{
    margin-top: 70px;
}
.block-txt p:nth-of-type(1){
    font-weight: 700;
}
.block-txt p:nth-of-type(2){
    font-size: 14px;
    margin-top: 16px;
}
.block-2{
    width: 100%;
    height: 335px;
    background-color: #70DD9E;
    padding-top: 147px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
@media (max-width: 1280px) {
    .homepage {
        width: 100%;
        padding: 0 5%;
    }
    .dl .next, .prev{
        display: none;
    }
    .best-seller-product, .new-product {
        padding: 5% 2% 5% 5%;
    }

    .best-seller-product__card, .new-product__card {
        gap: 10%;
    }
}

@media (max-width: 768px) {
    .product-card {
        min-width: 230px;
    }
    
    .best-seller-tittle, .new-tittle, .news-and-review {
        font-size: 1.5rem;
    }

    .card-price {
        font-size: 14px;
    }

    .card-img img {
        max-width: 120px;
        max-height: 120px;
    }
}

@media (max-width: 480px) {
    .best-seller-tittle, .new-tittle, .news-and-review {
        font-size: 1.2rem;
    }
    .best-seller-product__card{
        gap: 10px;
    }
    .product-card {
        min-width: 170px;
    }
    .news-and-review__product {
        overflow: hidden;
    }
    .card-txt {
        font-size: 14px;
    }

    .card-price {
        font-size: 12px;
    }

    .card-img img {
        max-width: 100px;
        max-height: 100px;
    }
}